.bg-img1 {
    background-image: url('https://i.imgur.com/4drr05Z.jpeg');
    background-position: 50% -25px;
    min-height: 700px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover !important;
    margin: 0 auto;
    max-width: 100%;
}

.bg-p1 {
    background-color: white;
}